button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Зеленый цвет */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Слегка скруглим углы */
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);
}
button:active{
  opacity: 0.8;
}

